body{
    text-align: center;
}
header{
    background-color: rgb(244,79,79);
}
h1{
    color: white;
    letter-spacing: 5px;
}
main{
    margin: 10px;
}
img{
    width: 125px;
    height: auto;
}
span{
    color: rgb(97, 206, 249);
}
h2::before{
    content: "⚫︎";
    color: rgb(238, 204, 204);
}
h2{
    border-bottom: 2px dashed rgb(238, 204, 204);
}
footer{
    background-color: rgb(244,79,79);
}
.logo{
    color: white;
    text-decoration: underline solid white;
}
@media screen and (min-width: 768px){
    .content{
        display: inline-block;
            width: 25%;
            padding: 10px;
            border: 3px,solid, rgb(238, 204, 204);
            margin: 10px;   
    }
}
@media screen and (max-width: 768px) {
    .content{
        display: block;
            width: 90%;
            padding: 10px;
            border: 3px,solid, rgb(238, 204, 204);
            margin: 10px;   
    
}
